@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 800 200" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="100%" height="100%" fill="url(#gradient-fill)"/><defs><linearGradient id="gradient-fill" x1="0" y1="0" x2="100%" y2="0" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#003f5b" /><stop offset="0.09090909090909091" stop-color="#005165" /><stop offset="0.18181818181818182" stop-color="#00646a" /><stop offset="0.2727272727272727" stop-color="#00766b" /><stop offset="0.36363636363636365" stop-color="#008667" /><stop offset="0.45454545454545453" stop-color="#00955e" /><stop offset="0.5454545454545454" stop-color="#00a150" /><stop offset="0.6363636363636364" stop-color="#45a83d" /><stop offset="0.7272727272727273" stop-color="#7cac25" /><stop offset="0.8181818181818182" stop-color="#abab00" /><stop offset="0.9090909090909091" stop-color="#d6a400" /><stop offset="1" stop-color="#ff9913" /></linearGradient></defs></svg>');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-image: url('data:image/svg+xml;utf8,<svg width="100%" height="100%" viewBox="0 0 800 200" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="100%" height="100%" fill="url(#gradient-fill)"/><defs><linearGradient id="gradient-fill" x1="0" y1="0" x2="100%" y2="0" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#003f5b" /><stop offset="0.09090909090909091" stop-color="#005165" /><stop offset="0.18181818181818182" stop-color="#00646a" /><stop offset="0.2727272727272727" stop-color="#00766b" /><stop offset="0.36363636363636365" stop-color="#008667" /><stop offset="0.45454545454545453" stop-color="#00955e" /><stop offset="0.5454545454545454" stop-color="#00a150" /><stop offset="0.6363636363636364" stop-color="#45a83d" /><stop offset="0.7272727272727273" stop-color="#7cac25" /><stop offset="0.8181818181818182" stop-color="#abab00" /><stop offset="0.9090909090909091" stop-color="#d6a400" /><stop offset="1" stop-color="#ff9913" /></linearGradient></defs></svg>');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/*a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
